<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Micro-Blog App - About</h1>
<p>
	This is the about Page for the App <br>
	<b>Under Construction!</b>
</p>
</body>
</html>